*.pyc
*.pyo
*.*~
*.swp

*/.env
.env
*/.idea
.idea/
.idea/*
.git/logs/*
.git/logs
.git/objects/*
.project
.pydevproject
.ropeproject
.ropeproject/*
.settings/*
.metadata
.metadata/
.metadata/*
.vscode/
.vscode/*
.DS_Store
.venv/
./venv
venv/
env/
.python-version

*/celerybeat-schedule*
celerybeat-schedule*
celerybeat-schedule.db
*/celerybeat-schedule.db
media/tmp/*
*/media/tmp/*
media/exportacao/*
*/media/exportacao/*
media/exportacao/*.zip
*/media/exportacao/*.zip
media/exportacao/mapas/*.xls
*/media/exportacao/mapas/*.xls
media/images/logo_cliente.png
*/media/images/logo_cliente.png
media/images/background.jpg
*/media/images/background.jpg
!media/tmp/README.md
*/media/tmp/README.md
!media/images/README.md
*/media/images/README.md
media/planilhas/*
*/media/planilhas/*
media/*
!media/planilhas/MODELO_PLANILHA_DE_CARGA_DO_GALERA.xlsx
.coverage
*/.coverage
coverage.xml
*/coverage.xml

# O index sempre será substituído pelo readme
/docs/docs/index.md
